@import url(https://fonts.googleapis.com/css?family=Luxurious+Script:regular);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+Inscriptional+Pahlavi:regular);
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Raleway:regular,600,100italic,300italic,500italic);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 28px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

ul, li {
  list-style: none;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@-webkit-keyframes animateBtn {
  0% {
    fill: rgba(0, 123, 255, 0.9960784314);
  }
  25% {
    fill: rgba(2, 97, 198, 0.9960784314);
  }
  50% {
    fill: rgba(8, 87, 171, 0.5019607843);
  }
  75% {
    fill: rgba(2, 97, 198, 0.9960784314);
  }
  100% {
    fill: rgba(0, 123, 255, 0.9960784314);
  }
}

@keyframes animateBtn {
  0% {
    fill: rgba(0, 123, 255, 0.9960784314);
  }
  25% {
    fill: rgba(2, 97, 198, 0.9960784314);
  }
  50% {
    fill: rgba(8, 87, 171, 0.5019607843);
  }
  75% {
    fill: rgba(2, 97, 198, 0.9960784314);
  }
  100% {
    fill: rgba(0, 123, 255, 0.9960784314);
  }
}
body {
  font-size: 22px;
  background: rgba(177, 176, 149, 0.337254902);
  font-family: "Raleway", sans-serif;
}

.header {
  max-width: 1600px;
  width: 100%;
  padding: 0 0 70px 0;
}
.header .title {
  padding: 150px 0 70px 0;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}
.header .input {
  border-radius: 10px;
  padding: 5px 5px 5px 10px;
  width: 30%;
  background: #c7ced0;
  font-size: 1rem;
}
.header .input:focus {
  background: rgba(0, 123, 255, 0.9960784314);
  color: #fff;
}
.header .input:focus::-webkit-input-placeholder {
  color: #fff;
  content: "";
}
.header .input:focus::-moz-placeholder {
  color: #fff;
  content: "";
}
.header .input:focus:-ms-input-placeholder {
  color: #fff;
  content: "";
}
.header .input:focus::-ms-input-placeholder {
  color: #fff;
  content: "";
}
.header .input:focus::placeholder {
  color: #fff;
  content: "";
}
.header .filters {
  position: relative;
  visibility: hidden;
  left: -100%;
  z-index: 1;
  background: #A0A6A7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .filters__active {
  visibility: visible;
  -webkit-transition: 1.5s all ease;
  -o-transition: 1.5s all ease;
  transition: 1.5s all ease;
  left: 0%;
}
.header .filters__hide {
  visibility: hidden;
  -webkit-transition: 1.5s all ease;
  -o-transition: 1.5s all ease;
  transition: 1.5s all ease;
  left: -100%;
}
.header .filters__source, .header .filters__country, .header .filters__category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .filters__source select, .header .filters__country select, .header .filters__category select {
  font-size: 22px;
  text-align: center;
  max-height: 30vh;
}
.header .filters__source select:focus, .header .filters__country select:focus, .header .filters__category select:focus {
  background: rgba(0, 123, 255, 0.9960784314);
}
.header .filters .find__btn {
  visibility: visible;
  position: absolute;
  background: transparent;
  z-index: 2;
  top: 50%;
  left: 150%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
  font-size: 0.7rem;
  font-weight: 700;
}
.header .filters .find__btn svg {
  width: 100px;
  height: 100px;
}
.header .filters .find__btn svg path:first-of-type {
  -webkit-animation: animateBtn 2s infinite ease-in-out;
          animation: animateBtn 2s infinite ease-in-out;
}
.header .filters .find__btn-hidden {
  -webkit-transition: 1.2s all ease-in;
  -o-transition: 1.2s all ease-in;
  transition: 1.2s all ease-in;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  left: 20%;
  opacity: 0;
}
.header .filters .find__btn-active {
  -webkit-transition: 1.5s all ease-in-out;
  -o-transition: 1.5s all ease-in-out;
  transition: 1.5s all ease-in-out;
  opacity: 1;
  left: 150%;
}
.header .filters .search__btn {
  width: 100px;
  font-size: 0.7rem;
  height: 40px;
  background: #c7ced0;
  border-radius: 10px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.header .filters .search__btn:hover {
  background: rgba(0, 123, 255, 0.9960784314);
}
.header .filters .close__btn {
  color: #292D32;
  position: absolute;
  top: 0;
  right: 5px;
  background: transparent;
  width: 25px;
  height: 25px;
  font-size: 1rem;
  -webkit-transform: rotateZ(45deg);
      -ms-transform: rotate(45deg);
          transform: rotateZ(45deg);
  -webkit-transition: all 0.4 ease;
  -o-transition: all 0.4 ease;
  transition: all 0.4 ease;
}
.header .filters .close__btn:hover {
  color: rgba(0, 123, 255, 0.9960784314);
}

.main {
  padding: 40px 0;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.article {
  max-width: 400px;
  width: 100%;
  margin: 0 auto 20px auto;
  background: #fff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 1.5%;
}
.article__header {
  text-align: left;
  padding: 5px 20px 5px 5px;
  margin-bottom: 30px;
  font-family: "Noto Sans Inscriptional Pahlavi";
  font-size: 1.1rem;
  width: 100%;
}
.article__header::first-letter {
  color: rgba(0, 123, 255, 0.9960784314);
  font-style: italic;
  font-size: 1.4rem;
}
.article__header::first-line {
  font-style: italic;
}
.article__content {
  width: 100%;
}
.article__content .author-src {
  padding: 5px 5px;
}
.article__content .author-src .author, .article__content .author-src .source {
  padding: 4px 0px;
  color: red;
  font-size: 0.6rem;
}
.article__content .img img {
  position: relative;
  bottom: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.article__suptitle {
  padding: 5px;
}

.accent {
  color: rgba(0, 123, 255, 0.9960784314);
  position: relative;
  font-weight: 200;
  font-style: italic;
}
.accent::after {
  content: "";
  top: 107%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  background: rgba(0, 123, 255, 0.9960784314);
  height: 1px;
  width: 95%;
}

.italic {
  font-style: italic;
}

.link {
  color: rgba(0, 83, 173, 0.9058823529);
  position: relative;
}
.link::after {
  content: "";
  position: absolute;
  top: 102%;
  right: -100%;
  height: 1px;
  width: 100%;
  opacity: 0;
  background: #13c0f5;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.link:hover {
  color: #13c0f5;
}
.link:hover::after {
  opacity: 1;
  right: 0%;
}