@keyframes animateBtn {
    0% {
        fill: #007bfffe;
    }

    25% {
        fill: #0261c6fe;
    }

    50% {
        fill:  #0857ab80;
    }

    75% {
        fill: #0261c6fe;
    }
    100% {
        fill: #007bfffe;
    }
}