@keyframes animateBtn {
    0% {
        fill: #007bfffe;
    }

    13% {
        fill: #0261c6fe;
    }

    26% {
        fill: #401be4fe;
    }

    50% {
        fill: #654ae0fe;
    }

    75% {
        fill:  #0857ab80;
    }
    100% {
        fill: #007bfffe;
    }
}