@import 'reset', 'keyframes';
@import url(https://fonts.googleapis.com/css?family=Luxurious+Script:regular);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+Inscriptional+Pahlavi:regular);
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Raleway:regular,600,100italic,300italic,500italic);

body {
    position: relative;
    font-size: 22px;
    background: #b1b09556;
    font-family: 'Raleway', sans-serif;
}


.header {
    max-width: 1600px;
    width: 100%;
    padding: 0 0 70px 0;

    .title {
        max-width: 1600px;
        margin: 0 auto;
        padding: 150px 0 70px 0;
        font-size: 2.5rem;
        font-weight: 600;
        text-align: center;
    }

    .input {
        border-radius: 10px;
        // margin-left: 25%;
        flex-basis: 50%;
        margin-top: 20px;
        padding: 5px 5px 5px 10px;
        // flex-basis: 75%;
        background: #c7ced0;
        font-size: 1rem;

        &:focus {
            background: #007bfffe;
            color: #fff;

            &::placeholder {
                color: #fff;
                content: '';
            }
        }
    }

    .categories {
        max-width: 15%;
    }

    & .filters {
        position: relative;
        visibility: hidden;
        left: -100%;
        z-index: 1;
        // background: #A0A6A7;
        background: #a0a6a740;
        display: flex;
        flex-wrap: wrap;
        padding: 40px;
        justify-content: space-between;
        align-items: center;

        &__active {
            visibility: visible;
            transition: 1.5s all ease;
            left: 0%;
        }

        &__hide {
            visibility: hidden;
            transition: 1.5s all ease;
            left: -100%;
        }


        &__source,
        &__country,
        &__category,
        &__range {
            // display: flex;
            flex-basis: 25%;
            text-align: center;
            align-items: center;

            select {
                margin-top: 10px;
                font-size: 22px;
                height: 40px;
                text-align: center;
                // border-radius: 10px;
                transition: all 0.4s ease;

                &:focus, &:active {
                    background: #007bfffe;
                    // border-radius: 0px;
                    // border-top-left-radius: 10px;
                    // border-top-right-radius: 10px;
                }
            }
        }

        .find__btn {
            visibility: visible;
            position: absolute;
            background: transparent;
            z-index: 2;
            top: 50%;
            left: 150%;
            transform: translate(-50%, -50%);
            width: 120px;
            height: 120px;
            font-size: 0.7rem;
            font-weight: 700;

            &::after {
                content: "";
                position: absolute;
                top: 110%;
                right: -100%;
                height: 1px;
                width: 100%;
                opacity: 0;
                background: #13c0f5;
                transition: all .3s ease-in-out;
            }

            &:hover {
                color: #13c0f5;

                &::after {
                    opacity: 1;
                    right: 0%;
                    // transform: translateX(-50%);        
                }
            }

            & svg {
                width: 100px;
                height: 100px;
                transition: all 0.4s ease;

                &:hover {
                    transform: scale(1.1);
                }

                & path:first-of-type {
                    animation: animateBtn 3.1s infinite linear;
                }
            }

            // &:hover {
            // & svg path:first-of-type {
            //     animation: animateBtn 2s infinite ease-in-out;
            // }
            // }

            & path {}

            &-hidden {
                transition: 1.0s all ease-in;
                transform: rotateY(-180deg);
                left: -20%;
                top: 0%;
                opacity: 0;
            }

            &-active {
                transition: 1.5s all ease-in-out;
                opacity: 1;
                left: 150%;
            }
        }

        .search__btn {
            flex-basis: 30%;
            width: 100px;
            font-size: 0.7rem;
            height: 40px;
            background: #c7ced0;
            border-radius: 10px;
            transition: all 0.4s ease;

            &:hover {
                background: #007bfffe;
            }
        }

        .close__btn {
            color: #292D32;
            position: absolute;
            top: 0;
            right: 5px;
            background: transparent;
            width: 25px;
            height: 25px;
            font-size: 1rem;
            transform: rotateZ(45deg);
            transition: all 0.4 ease;

            &:hover {
                color: #007bfffe;
            }
        }
    }
}

.main {
    position: relative;
    padding: 40px 0;
    z-index: 1;
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.article {
    max-width: 400px;
    width: 100%;
    margin: 0 auto 20px auto;
    background: #fff;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 1.5%;

    // @media (max-width: 600px) {
        // max-width: 100%;
        // padding: 10px;
    // }

    &__header {
        text-align: left;
        padding: 5px 20px 5px 5px;
        margin-bottom: 30px;
        font-family: 'Noto Sans Inscriptional Pahlavi';
        font-size: 1.1rem;
        width: 100%;

        &::first-letter {
            color: #007bfffe;
            font-style: italic;
            font-size: 1.4rem;
        }

        &::first-line {
            font-style: italic;
        }
    }

    & .img {
        & img {
            position: relative;
            bottom: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

    }

    &__content {
        width: 100%;
        // padding: 5px;

        & .author-src {
            // display: flex;
            // justify-content: space-between;
            // align-items: center;
            padding: 5px 5px;

            & .author,
            & .source {
                padding: 4px 0px;
                color: red;
                font-size: 0.6rem;
            }
            & .source {
                &:hover {
                    cursor: pointer;
                }
            }
        }

        // & .img {
        //     & img {
        //         position: relative;
        //         bottom: 0;
        //         height: 100%;
        //         width: 100%;
        //         object-fit: cover;
        //     }

        // }
    }

    &__suptitle {
        padding: 5px;
    }

    // .outputCounter {
    // }
}

.accent {
    color: #007bfffe;
    position: relative;
    font-weight: 200;
    font-style: italic;

    &::after {
        content: "";
        top: 107%;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        background: #007bfffe;
        height: 1px;
        width: 95%;
    }

}

.italic {
    font-style: italic;
}

.scroll {
    position: fixed;
    display: none;
    content: '';
    z-index: 2;
    background: #292D32;
    opacity: 0.6;
    border-radius: 50%;
    width: 40px;
    font-size: 0.7rem;
    color: #000;
    font-weight: 900;
    transform: translate(-50%, -50%);
    height: 40px;
    left: 98%;
    bottom: 10%;
    transition: all 0.4s ease;
    &:hover {
        background: #007bfffe;
    }
}

.desc {}

.link {
    color: #0053ade7;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 102%;
        right: -100%;
        height: 1px;
        width: 100%;
        opacity: 0;
        background: #13c0f5;
        transition: all .4s ease-in-out;
    }

    &:hover {
        color: #13c0f5;

        &::after {
            opacity: 1;
            right: 0%;
            // transform: translateX(-50%);        
        }
    }
}